.btnContainer{
    width:10rem;
    height: 3rem;
    display: flex;
    flex-direction: center;
    border-radius:2rem;
    border: 2px solid rgb(53, 223, 138);

    
}
.globalButton{
    width: 100%;
    background-color: rgb(81, 180, 16);
    color: #fff;
    border:none;
    border-radius:2rem;
    font-size: 1rem;
    font-style: italic;
    cursor: pointer;  
    transition: .3s ease-in;
}
.globalButton:hover{
    background-color: rgb(30, 61, 9); 
}